.map-frame {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.map-controls {
    position: absolute;
    z-index: 2;
    right: 12px;
    top: 12px;
}

.map-controls.uploader {
    top: 82px;
}

.leaflet-container {
    width: 100%;
    height: 100%;
}

.leaflet-popup-close-button {
    display: none;
}

.leaflet-popup-content-wrapper {
    border-radius: 3px;
}

.leaflet-popup-content {
    margin: 0;
}

.leaflet-popup-content td,
.leaflet-popup-content th {
    padding: 5px 10px;
}

.md-btn-default {
    background: white;
}

/* Don't show google attributes */
a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}
.gmnoprint div {
    background:none !important;
}

/* Don't show routing details */
.leaflet-routing-container {
    display: none;
}

.drawers__content__scrollable  {
  height: calc(100% - 64px);
  overflow: auto;
}

.marker {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.marker.stop {
  width: 16px;
  height: 16px;
}
.submarker {
  font-size: 14px;
  color: white;
  margin: 4px 3px 3px;
}

.route-marker {
  position: absolute;
  width: 10px;
  height: 10px;
  left: 0;
  border-radius: 50%;
}
